body {
    /* height: 5000px; */
    overflow-x: hidden;
}

:root {
    --color1: #34473F;
    --color2: #E2DBD1;
    --color3: #BC6537;
    --transition-speed: 0.3s;
  }

::selection {
    color: white;
    background: #BC6537;
}

.section-hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the section takes full viewport height */
    text-align: center; /* Center text inside the h1 */
    background-size: cover;
    background-position: center;
}

.footer-hero {
    background-color: #efede7;
    color: #34473F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    background-color: #E2DBD1;
    padding: 185px 0;
    color: #34473F;
}

.section-content3 {
    background-color: #2e5141;
    padding: 100px 0;
    color: #e2dbd1;
}



/* 文字樣式能否修統一 */
.hero-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container{
    min-height: 100vh;
  }

.footer-text {
    text-align: center;
}

.content-text {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}

.content-text .contacttitle {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 4rem;
}

.content-text .secondtitle {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
}


.nav-logo{
    font-family: "Playfair Display", serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-size: 25px;
    padding: 20px;
    color: var(--color1);
  }
  
  .nav-logo a{
    visibility: hidden;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
  }
  .nav-logo a:hover{
    text-decoration: none;
  }
  
  
  
  .bg-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo1 {
    text-align: left;
    padding: 20px 0;
    z-index: 999;
  }
  
  .logo1 img{
    width: 40%;
  }
  /* navbar */
.nav-bar {
    max-width: 1200px;
    width: 95%;
    background-color: var(--color2);
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 99;
}

.logo img {
    width: 50px;
    height: auto;
}
/* menu */

.menu {
    display: flex;
    padding: 5px auto;
    gap: 30px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color var(--transition-speed);
    align-items: center;
    justify-content: center;
}

.menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color1);
    transition: width var(--transition-speed);
}

.menu li a:hover {
    color: var(--color1);
}

.menu li a:hover::after {
    width: 100%;
}

/* 菜单按钮样式 */
.menu-icon {
    display: none;
    font-size: 1.8rem;
    color: var(--color1);
    cursor: pointer;
}

/* 响应式样式 */
@media (max-width: 1000px) {
.menu {
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 90%;
background-color: var(--color2);
flex-direction: column;
align-items: center;
padding: 20px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
max-height: 0;
overflow: hidden;
transition: max-height var(--transition-speed);
display: none; /* 默认隐藏菜单 */
}

.menu li {
margin: 15px 0;
}

.menu-icon {
display: block;
}

/* 复选框控制菜单展开 */
#menu-toggle:checked ~ .menu {
max-height: 500px;
display: flex; /* 菜单展开时显示 */
}
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.image-wrapper video {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}


.content-wrapper {
    padding: 30px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.image-wrapper video {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}


.content-wrapper {
    padding: 30px;
}

.contact-right ul {
    padding: 0;
}

.contactinfo li {
    list-style: none;
    text-align: left;
    font-size: 1.2rem;
    padding: 15px 15px 15px 0px;
}

/* form樣式 */
.contact-container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 30px;
}

.contact-container1 {
    display: flex;
    align-items: left;
    /* justify-content: space-evenly; */
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-right textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #D4AB87;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-right button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #2E5141;
    cursor: pointer;
    transition-duration: 0.4s;
}

.contact-right button:hover {
    background-color: #D49F68;
}

.contact-container .error-text {
    font-size: 13px;
    color: rgb(217, 3, 3);
    text-align: left;
    margin: -2px 0 5px;
    display: none;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efede7;
}

.footer-text ul {
    padding: 0;
}

.footer-text li {
    list-style: none;
    text-align: left;
    font-size: 1.2rem;
    padding: 15px 15px;

}

.footerTitle h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 4rem;
}


.footersecondTitle h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: left;
    font-weight: 400;
    font-size: 4rem;
    padding-left: 15px;
}

.contact-container1 .contact-right button {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #6A7E6D;
    cursor: pointer;
    transition-duration: 0.4s;
}

.contact-right button:hover {
    background-color: #D49F68;
}

.toTop {
    background-color: rgba(228, 228, 228, 0.249);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    z-index: 10;
}

.toTop:hover {
    color: #D49F68;
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.toTop.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


@media (min-width: 576px) {

    /* 下拉選單斷點 */
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }

}
